#sideimage {
	width: 60%;
	height: 30%;
}

.aboutcontentcontainer {
	height: auto;
	text-align: left;
	/*overflow: hidden;*/
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
	text-align: justify;
    text-justify: inter-word;
}

form {
	height: inherit;
}

#nickyoung {	
	text-align: center;
	margin-top: 50px;
}

#nickyoung img {
	width: 300px;
	height: 300px;
}

.aboutinput {
	height: 75%;
	width: 100%;
}