#background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index:-1;
<<<<<<< HEAD
	background-image: url("../nickpics/photobombingswagcrop.jpg");
	background-position: -300px 0px;
    background-attachment: fixed;
    background-position: center; 
=======
	/*background-color: black;*/
	/*background-image: url("../icons/newbackgroundpicgold.jpg");   */
	background-image: url("../icons/stockholmpossibletogether.jpg");   
		background-image: url("../icons/stockholmdarker.jpg");   
		background-image: url("../icons/nicksfavedarker.jpg");  
		background-image: url("../icons/nickfavelargedark.jpeg");
	background-image: url("../icons/photobombingswag.jpg");
	background-image: url("../icons/photobombingswagcrop.jpg");
	background-position: -300px 0px;
	    background-attachment: fixed;
    background-position: center; 


/*		background-image: url("../icons/newbackgroundpic.jpg"); 

				background-image: url("../icons/sepiatest.jpg"); */
				/*background-image: url("../icons/stockholm_sunset_large.jpg");*/

		/*background-image: url("https://static.happywall.co.uk/uploads/galleri/601/stockholm_sunset_large.jpg");  */

>>>>>>> 327575b44c83e9733c1b31b95c2bb734805784a9
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

#swagtest {
	border-right: 12px solid #383001;
	border-left: 12px solid #383001;
	border-top: 12px solid #383001;
	padding: 0;
}

#pagereturndiv {
	display: none;
}

#outerwebsitecontent {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	height: auto;
	width: auto;
	vertical-align: middle;
}

#websitecontent {
	height: 100%;
	display: table;
	position: relative;
	border-right: 7px solid #A68E08;
	border-left: 7px solid #A68E08;
	border-top: 7px solid #A68E08;
	max-height: 1000px;
	width: 100%;
	background: #000;
	box-sizing: border-box;
}

.sideimage {
	position: relative;
	z-index: -1;
	text-align: center;
	display: inline-block;
	width: 10em;
	margin: -6em;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font: inherit;
}

#portrait {
	z-index: 0;
	text-align: center;
	margin-bottom: -10em;
}

#portrait img {
	height: 26em;
	margin-bottom: 10px;
}

#mobileportrait {
	display: none;
	margin-top: 3%;
}

body {
	background-color: black;
	color: #A68E08;
	/*color: grey;*/
	z-index: 1;
	overflow-y:scroll;
}

#banner {
	width: 100%;
	text-align: center;
}

#name {
	font-size: 5em;
	font-family: 'Pinyon Script', cursive;
	letter-spacing: 3px;
}

#tabs{
	min-width: 700px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 10px;
	overflow: hidden;
}

.tabselected {
	border: 2px solid #A68E08;
}

#tabs div {
	min-width: 11%;
	display: inline-block;
	text-align: center;
	padding: 1%;
	font-size: 1.2em;
}

#tabsfill {
	background-color: #A68E08;
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 100%;
	padding: 0;
	z-index: 1;
	margin: 0;
}

#tagline {
	font-size: 2em;
	font-family: 'Pinyon Script', cursive;
}

#contentwrap { 
	height: 100%;
}

#contenttable {
	height: 100%;
	width: 82%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	margin-left: auto;
	max-height: 500px;
	margin-right: auto;
	text-align: left;
	border-top: 6px groove #A68E08;
	font-size: .9em;
	position: relative;
	display: table;
	line-height: 135%;
}

#innercontentwrap {
	height: 100%;
	position: relative;
}

html, body {
	height: 100%;
	margin: 0px;
	font-family: 'Questrial', sans-serif;
	min-height: 100%;
}
	
#screen {
	height: 100%;
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: none;
	z-index: 1;
	position: relative;	
}

#header {
	display: table-row;
	margin-top: 3%;
}

#content {
	z-index: inherit;
	margin-bottom: 10px;
	min-height: 24em;
}

.maincontenttable {
	height: 100%;
	width: 100%;
	table-layout: fixed;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

#maincontent {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	padding-top: 1%;
}

#maincontent td {
	line-height: 135%;
	padding-bottom: 0px;
}

.scrollbar-measure {
	/* For detecting scrollbar width. */
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

#nav-dropdown {
	display: none;
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: #A68E08;
	color: black;
	cursor: pointer;
	z-index: 1;
	border-color: #383001;
	border-style: solid;
	border-width: 0px 2px 2px 0px;
}

#nav-tabs {
	display: none;
	position: fixed;
	top: 100px;
	left: 0px;
	border: 5px double #A68E08;
	padding: 5px;
	background-color: #383001;
	z-index: 1000;
}

#nav-tabs-container {
	display: none;
}

#nav-tabs a{
	display: block;
}

#nav-tabs div {
	width: 100%;
	height: 60px;
	text-align: center;
	z-index: 1000;
	vertical-align: middle;
	font-size: 1.5em;
	display: inline-block;
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#nav-tabs .navbutton {
	border: 4px groove #272101;
}

#nav-tabs .divider {
	height: 0;
	width: 100%;
	border-top: 1px solid #A68E08;
	display: inline-block;
}

/* Tablet and lower landscape*/
@media only screen and (max-device-height: 800px) and (max-device-width: 1300px) and (orientation: landscape) {
	body {
		font-size: 115%;
	}
	
	#nav-tabs-container {
		display: block;
	}

	#screen {
		width: 100%;
	    box-sizing: border-box;
		height: 100%;
		margin: 0;	
		display: block;
		position: relative;	
		max-width: none;
	}

	#nav-dropdown {
		display: inline-block;
		position: fixed;
		vertical-align: middle;
		width: 130px;
		height: 130px;
	}

	#nav-tabs {
		top: 130px;
	}

	#outerwebsitecontent {
		margin: 0;
		height: 100%;
		width: 100%;
	}

	#websitecontent {
		height: 100%;
		box-sizing: border-box;
		display: table-cell;
	}

	#header {
		display: inline-block;
		width: 100%;
	}

	#portrait img {
		height: 16em;
	}
	
	#tagline {
		font-size: 1.5em;
	}

	#tabs {
		display: none;
	}

	#banner {
		width: 70%;
		margin-left: auto;
	}

	#adminbutton {
		display: none;
	}

	#swagtest {
		height: 100%;
		box-sizing: border-box;
		display: table;
		width: 100%;
	}

	#footer {
		position: absolute;
		bottom: 0;
		height: auto;
	}

	#footertext {
		margin-left: 0;
	}
}

/* Tablet and lower portrait*/
@media only screen and (max-device-width: 800px) and (orientation: portrait) {
	body {
		font-size: 120%;
	}
	
	#nav-tabs-container {
		display: block;
	}

	#screen {
		width: 100%;
	    box-sizing: border-box;
		height: 100%;
		margin: 0;	
		display: block;
		position: relative;	
		max-width: none;
	}

	#nav-dropdown {
		display: inline-block;
		position: fixed;
		vertical-align: middle;
		width: 130px;
		height: 130px;
	}

	#nav-tabs {
		top: 130px;
	}

	#outerwebsitecontent {
		margin: 0;
		height: 100%;
		width: 100%;
	}

	#websitecontent {
		height: 100%;
		box-sizing: border-box;
		display: table-cell;
	}

	#header {
		display: inline-block;
		width: 100%;
	}
	
	#tagline {
		font-size: 1.5em;
	}

	#tabs {
		display: none;
	}

	#banner {
		width: 70%;
		margin-left: auto;
	}

	#adminbutton {
		display: none;
	}

	#swagtest {
		height: 100%;
		box-sizing: border-box;
		display: table;
		width: 100%;
	}

	#footer {
		position: absolute;
		bottom: 0;
		height: auto;
	}

	#footertext {
		margin-left: 0;
	}
}

/* Tablet Portrait*/
@media only screen and (min-device-width: 481px) and (max-device-width: 800px) and (orientation: portrait) {
	#header {
		position: relative;
	}

	#portrait {
		width: 49%;
		display: inline-block;
	}

	#bannerwrap {
		white-space: normal;
		display: inline-block;
		width: 50%;
		height: 100%;
		position: absolute;
	}

	#banner {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}
}

/*Tablet Landscape*/
@media only screen and (min-device-height: 481px) and (max-device-height: 800px) and (max-device-width: 1300px) and (orientation: landscape){
	#header {
		position: relative;
	}

	#portrait {
		width: 49%;
		display: inline-block;
	}

	#bannerwrap {
		white-space: normal;
		display: inline-block;
		width: 50%;
		height: 100%;
		position: absolute;
	}

	#banner {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
	}
}

/* Phone Portrait */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
	#portrait {
		display: none;
	}

	body {
		font-size: 125%;
	}

	#innercontentwrap {
		font-size: 110%;
		padding-bottom: 30px;		
	}

	#nav-dropdown {
		width: 100px;
		height: 100px;
	}

	#nav-tabs {
		top: 100px;
	}

	#columncontent {
		display: block;
		width: 100%;
		background-color: red;
	}

	#banner {
		width: 100%;
	}
}

/* Phone Landscape */
@media only screen and (max-device-height: 480px) and (orientation: landscape) {
	#portrait {
		display: none;
	}

	body {
		font-size: 125%;
	}

	#innercontentwrap {
		font-size: 110%;
		padding-bottom: 30px;		
	}

	#nav-dropdown {
		width: 100px;
		height: 100px;
	}

	#nav-tabs {
		top: 100px;
	}

	#columncontent {
		display: block;
		width: 100%;
		background-color: red;
	}

	#banner {
		width: 100%;
	}
}