.eventdescription {
	text-align: center;
	font-size: 1.2em;
	width: 100%;

}

.eventwrap {
	/*Container for entire event row*/
	width: 100%;
	height: 33%;
	min-height: 80px;
	box-sizing: border-box;
}

#eventscontainer {
	/*Container for all events*/
	width: 100%;
	cursor: pointer;
}

.eventcontainer {
/*	transition: background-color 1s;
	transition: color 1s;*/
}

.eventdatewrap {
	/*Container for event Gold Date */
	display: inline-block;
	float: left;
	box-sizing: border-box;
	height: 100%;
	position: relative;
	margin: 3px 10px 5px 5px;
}

.eventdescriptionwrap {
	/*Container for event description*/
	margin: 0;
	margin-left: 10px;
	position: relative;
	width: auto;
	overflow: hidden;
	height: 89px;
}

form {
	height: inherit;
}

#centercolumn {
	position: relative;
}

.bottomcontainer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: left;
	/*border: 1px solid grey;*/ /*FIX LATER*/
	padding-bottom: 20px;
	padding-left: 100px;
}

.maincontent {
	height: 80%;
}

/*@media only screen and (max-device-width: 480px) {
	#eventscontainer {
		width: 70%;
		margin: 0 auto;
	}

	.eventcontainer {
		border: 1px solid #A68E08;
		margin-bottom: 10px;
	}

	.right {
		float: none;
	}

	.columncontent {
		height: auto;
	}

	.mobileshowme {
		display: inline-block;
	}

	#mobileportrait {
		z-index: 0;
		text-align: center;
		margin-bottom: -10em;
		width: 100%;
		display: inline-block;
	}

	#mobileportrait img {
		height: 20em;
		margin-bottom: 10px;
	}

	.overflowcenter {
		margin-left: auto;
		margin-right: auto;
	}
}*/


@media only screen and (min-device-height: 481px) and (max-device-height: 800px) and (orientation: landscape) {
	.eventcontainer {
		border: 1px solid #A68E08;
		margin-bottom: 10px;
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 800px) and (orientation: portrait) {
	#eventscontainer {
		width: 70%;
		margin: 0 auto;
	}

	.eventcontainer {
		border: 1px solid #A68E08;
		margin-bottom: 10px;
	}

	.right {
		float: none;
	}

	.columncontent {
		height: auto;
	}

	.mobileshowme {
		display: inline-block;
	}

	.columncontent {
		display: block;
		width: 100%;
	}


	.title {
		white-space: normal;
		line-height: 1em;
	}

/*	#mobileportrait {
		z-index: 0;
		text-align: center;
		margin-bottom: -10em;
		width: 100%;
		display: inline-block;
	}*/

/*	#mobileportrait img {
		height: 20em;
		margin-bottom: 10px;
	}*/

	.overflowcenter {
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-device-height: 480px) and (orientation: landscape) {
	#eventscontainer {
		width: 70%;
		margin: 0 auto;
	}

	.eventcontainer {
		border: 1px solid #A68E08;
		margin-bottom: 10px;
	}

	.right {
		float: none;
	}

	.columncontent {
		height: auto;
	}

	.mobileshowme {
		display: inline-block;
	}

	#mobileportrait {
		z-index: 0;
		text-align: center;
		margin-bottom: -10em;
		width: 100%;
		display: inline-block;
	}

	#mobileportrait img {
		height: 20em;
		margin-bottom: 10px;
	}

	.overflowcenter {
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
	#eventscontainer {
		width: 70%;
		margin: 0 auto;
	}

	.eventcontainer {
		border: 1px solid #A68E08;
		margin-bottom: 10px;
	}

	.right {
		float: none;
	}

	.columncontent {
		height: auto;
	}

	.mobileshowme {
		display: inline-block;
	}

	#mobileportrait {
		z-index: 0;
		text-align: center;
		margin-bottom: -10em;
		width: 100%;
		display: inline-block;
	}

	#mobileportrait img {
		height: 20em;
		margin-bottom: 10px;
	}

	.overflowcenter {
		margin-left: auto;
		margin-right: auto;
	}
}
